{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamplates</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
       <h1>Templates as aResponse</h1>
       <!-- {{greet}} -->
        {% comment %}
        {% for i in products %}

        <strong>Sr. No:</strong>{{forloop.counter}}<br>
        <Strong>Name:</Strong>{{i.name}}<br>
        <Strong>Category:</Strong>{{i.name}}<br>
        <Strong>Price:</Strong>{{i.price}}
        <hr>

        {% endfor %}
        {% endcomment %}
        <button onclick="greet()">Click me</button>
        <img src="{% static 'images/makeup.jpg' %}" alt="" width="300px" height="250px" />
</body>
</html>